.card-stats .card-body {
  padding: 15px 15px 0px;
}

.card{
  border: 2px solid green;
}

.card-stats .card-body .numbers {
  text-align: right;
  font-size: 3em;
  color: green;
  font-weight: bolder;
}

.card-stats .card-body .numbers p {
  margin-bottom: 0;
}

.card-stats .card-body .numbers .card-category {
  color: blue;
  font-size: 16px;
  line-height: 1.4em;
}

.card-stats .card-footer {
  padding: 0px 15px 15px;
  border: 2px dotted blue;
}

.card-stats .card-footer .stats {
  color: blue;
}

.card-stats .card-footer hr {
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-stats .icon-big {
  font-size: 4em;
  min-height: 64px;
}

.card-stats .icon-big i {
  line-height: 59px;
}