<div class="card card-stats">
    <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                    <i class="fa fa-home"></i>
                </div>
            </div>
            <div class="col-7 col-md-8">
                <div class="numbers">
                    <p class="card-category">{{cardTitle}}</p>
                    <br>
                    <p class="card-title">{{metrics}}
                    <p>
                </div>
            </div>
        </div>
        <br>
        <div class="card-footer" *ngIf="showChart">
            <div id="chart">
                <apx-chart 
                  [series]="chartOptions?.series"
                  [labels]="chartOptions?.labels"
                  [chart]="chartOptions?.chart"
                  [xaxis]="chartOptions?.xaxis"
                  [yaxis]="chartOptions?.yaxis"
                  [dataLabels]="chartOptions?.dataLabels"
                  [grid]="chartOptions?.grid"
                  [stroke]="chartOptions?.stroke"
                  [markers]="chartOptions?.markers"
                  [plotOptions]="chartOptions?.plotOptions"
                  [colors]="chartOptions?.colors"
                  [title]="chartOptions?.title"
                  [subtitle]="chartOptions?.subtitle"
                  [legend]="chartOptions?.legend"
                  [fill]="chartOptions.fill"
                  [tooltip]="chartOptions?.tooltip"
                ></apx-chart>
              </div>
        </div>  
    </div>
    <br>
</div>