.chart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.widget_panel{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
}

.chart-grid{
    position: relative;
}

.custom{
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    margin: 2em;
}
