<mat-toolbar color="primary">
  <span>Customisable Dashboard</span>
</mat-toolbar>

<br>

<div class="row" style="padding: 1em;">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <app-card cardTitle="Total Sales" metrics="980000" [showChart]=true [chartOptions]="chartOptions1"></app-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <app-card cardTitle="Total Earnings" metrics="675000" [showChart]=true [chartOptions]="chartOptions2"></app-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <app-card cardTitle="Total Profit" metrics="345000" [showChart]=true [chartOptions]="chartOptions3"> </app-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <app-card cardTitle="Gross Earnings" metrics="85000" [showChart]=true [chartOptions]="chartOptions4"></app-card>
  </div>
</div>

<!-- <div class="chart-grid">

  <app-bar-line-chart [id]="chartid1" [type]="charttype1" [labels]="chartlabels1"
    [datasets]="chartdatasets1"></app-bar-line-chart>

  <app-bar-line-chart [id]="chartid2" [type]="charttype2" [labels]="chartlabels1"
    [datasets]="chartdatasets1"></app-bar-line-chart>

  <app-pie-doughnut-chart [id]="chartid3" [type]="charttype3" [labels]="chartlabels2"
    [datasets]="chartdatasets2"></app-pie-doughnut-chart>

  <app-pie-doughnut-chart [id]="chartid4" [type]="charttype4" [labels]="chartlabels2"
    [datasets]="chartdatasets2"></app-pie-doughnut-chart>


</div> -->

<div class="menu">
  <button mat-button [matMenuTriggerFor]="menu">Add Chart</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="makeChart()">Bar Chart</button>
    <button mat-menu-item>Line Chart</button>
  </mat-menu>
</div>

<div class="chart-grid">
  <gridster [options]="gridsterOptions">
    <gridster-item [item]="item" *ngFor="let item of dashboard;let i=index">
      <button class="btn btn-primary custom" (click)="update(i, item?.['type'])">Update</button>
      <div *ngIf="item['widget'] == 'bar'" class="widget_panel">
        <app-bar-line-chart [id]="item['widget'] + i" [type]="charttype1" [chartData]="item['data']"></app-bar-line-chart>
      </div>

      <div *ngIf="item['widget'] == 'line'" class="widget_panel">
        <app-bar-line-chart [id]="item['widget'] + i" [type]="charttype2" [chartData]="item['data']"></app-bar-line-chart>
      </div>

      <div *ngIf="item['widget'] == 'pie'" class="widget_panel">
        <app-pie-doughnut-chart [id]="item['widget'] + i" [type]="charttype3" [labels]="item['data'].labels"
        [datasets]="item['data'].dataset"></app-pie-doughnut-chart>
      </div>

      <div *ngIf="item['widget'] == 'donut'" class="widget_panel">
        <app-pie-doughnut-chart [id]="item['widget'] + i" [type]="charttype4" [labels]="item['data'].labels"
        [datasets]="item['data'].dataset"></app-pie-doughnut-chart>
      </div>

    </gridster-item>
  </gridster>
</div>

<br>

<div style="text-align: center;">
  <button class="btn btn-primary" (click)="save()">
    Save Current Configuration
  </button>
</div>