<h2 mat-dialog-title>Add Chart Data</h2>

<mat-dialog-content class="mat-typography">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">

        <mat-tab label="Template-1">
            <!-- <app-bar-line-chart [id]="'barChart1'" [type]="'bar'" [labels]="data.labels"
                [datasets]="data.datasets"></app-bar-line-chart> -->
            Single Bar Chart
        </mat-tab>
        <mat-tab label="Template-2">
            <!-- <app-bar-line-chart [id]="'barChart2'" [type]="'bar'" [labels]="data.labels"
                [datasets]="data.datasets"></app-bar-line-chart> -->
            Multi Bar Chart
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="currentTemplate" cdkFocusInitial>Add Chart</button>
</mat-dialog-actions>