<h2 mat-dialog-title>Update Chart Data</h2>

<mat-dialog-content class="mat-typography">

    <div [formGroup]="updateForm">

        <h4 class="sub-heading">Title</h4>

        <div class="row">
            <div class="col-md-6">
                <label>Label:</label>
                <input id="check1" class="input-field" formControlName="titleLabel">
            </div>
            <div class="col-md-6">
                <label>Text Color:</label>
                <input id="check2" class="input-field">
            </div>
        </div>

        <h4 class="sub-heading">Sub Title</h4>

        <div class="row">
            <div class="col-md-6">
                <label>Label:</label>
                <input id="check3" class="input-field" formControlName="subTitleLabel">
            </div>
            <div class="col-md-6">
                <label>Text Color:</label>
                <input id="check4" class="input-field">
            </div>
        </div>

        <h4 class="sub-heading">X Axis</h4>

        <div class="row">
            <div class="col-md-6">
                <label>Label:</label>
                <input id="check3" class="input-field" formControlName="xAxisLabel">
            </div>
            <div class="col-md-6">
                <label>Text Color:</label>
                <input id="check4" class="input-field">
            </div>
        </div>

        <h4 class="sub-heading">Y Axis</h4>

        <div class="row">
            <div class="col-md-6">
                <label>Label:</label>
                <input id="check3" class="input-field" formControlName="yAxisLabel">
            </div>
            <div class="col-md-6">
                <label>Text Color:</label>
                <input id="check4" class="input-field">
            </div>
        </div>

        <h4 class="sub-heading">Select Date Range</h4>

        <div class="row">
            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

           
        </div>
    </div>

    <!-- <p>Selected values: {{updateForm.value | json}}</p> -->

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="updateForm" cdkFocusInitial>Update</button>
</mat-dialog-actions>